<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container-fluid" id="navbar-div">
    <%= link_to "london Info", root_path, id: "logo" %>
    <nav>
      <ul id="navbar-list" class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", home_path %></li>
        <li><%= link_to "Help", help_path %></li>
        <li><%= link_to "London Eye", londoneye_path %></li>
        <li><%= link_to "St Pauls", stpauls_path %></li>
        <li><%= link_to "Tower of London", toweroflondon_path %></li>
      </ul>
    </nav>
  </div>
</header>